body {
    background-color: black;
    color: white;
}

main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

p, a {
    display: flex;
    text-decoration: none;
    color: white;
}
